<!DOCTYPE html>
<html lang="en">
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <title>Vk_photos</title>
    <meta charset="UTF-8">
<style>
    * {
margin:0;
}
body {
 height: 100%;
 min-width:900px;
}
html {
 position:relative;
 min-height:100%;
}
#container {
 padding-bottom: 100px;/*Примерно 2 размера footer, чтобы он не наезжал на контент при узком окне браузера*/
}
#footer {

 height: 80px;
 position: absolute;
 bottom: 0;
 width: 100%;
}
</style>
</head>
<body>
<div class="navbar navbar-fixed navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <span class="navbar-brand">VK photos</span>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="#" >О нас</a></li>
            </ul>
        </div>
        <form class="navbar-form navbar-right" method="post">
      <div class="form-group">
       <input type="text" class="form-control input-md" name = 'login' id="login" placeholder="Введите ваш ID в VK">
        <select name="photo_type">
            {%for type in ['men naked', 'men swimsuit', 'ladies swimsuit', 'ladies naked']%}
            <option>{{type}}</option>
            {%endfor%}
        </select>
      </div>
     <input class="btn btn-success btn-md" type = 'submit'  value="Войти">
        </form>
    </div>
</div>
<div class="jumbotron">
    <div class="container">
        <h2>  </h2>
    </div>
</div>